* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color:#343d46;
    position: relative;
    overflow-x: hidden;
  }
  
  .preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color:#343d46;
    z-index: 999;
    visibility: visible;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    cursor: default;
    
  }
  .preloader--hidden {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .preloaderContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  .preloaderLoader {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border: 8px solid #c0c5ce;
    border-top: 8px solid #000309;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .preloaderTxt {
    padding: 20px;
    color: #c0c5ce;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #c0c5ce;
  }
  @media screen and (max-width: 576px) {
    .container {
      display: block;
    }
  }
  .container .statistics {
    margin: 15px;
    position: relative;
  }
  .container .statistics .global {
    position: relative;
  }
  .container .statistics .cases{
    background-color:#65737e;
    border-radius: .3rem;
  }
  .container .statistics .globalTitle {
    margin: 15px 0px;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    background-color:#65737e;
    border-radius: .3rem;
    font-family: 'Heebo', sans-serif;


    
  }
  .container .statistics .globalCases {
      padding: 10px;
    margin: 15px 15px 0 0;
    display: inline-block;
    align-items: flex-start;
    color: #7cf0de;
  }
  @media screen and (max-width: 576px) {
    .container .statistics .globalCases {
      display: block;
    }
  }
  .container .statistics .globalCases h2 {
    color: #37ebd0;
    

  }
  
  .container .statistics .globalDeaths {
    margin: 15px 15px 0 0;
    padding: 10px;
    display: inline-block;
    color: #934242;
    
  }
  @media screen and (max-width: 576px) {
    .container .statistics .globalDeaths {
      display: block;
     
    }
  }
  .container .statistics .globalDeaths h2 {
    color: #942626;
  }
  .container .statistics .globalRecovered {
    margin: 15px 15px 0 0;
    padding: 10px;
    display: inline-block;
    color: #6cb7df;
  }
  @media screen and (max-width: 576px) {
    .container .statistics .globalRecovered {
      display: block;
    }
  }
  .container .statistics .globalRecovered h2 {
    color: #3ea9e3;
  }
  .container .statistics > input[type="text"] {
    margin: 15px 0;
    width: 450px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #090909;
    padding: 9px 15px;
    font-size: 18px;
    border: 1px solid #696969;
  }
  @media screen and (max-width: 576px) {
    .container .statistics > input[type="text"] {
      display: block;
    }
  }
  .container .statistics > .custom-select {
    margin: 15px 0;
    width: 250px;
    display: inline-block;
    background-color: #FFFFFF;
    color: #4f5b66;
    padding: 9px 15px;
    font-size: 18px;
    border: 1px solid #696969;
  }
  @media screen and (max-width: 576px) {
    .container .statistics > .custom-select {
      display: block;
    }
  }
  .container .statistics .table {
    border-collapse: collapse;
    width: 100%;
    min-width: 320px;
  }
  @media screen and (max-width: 576px) {
    .container .statistics .table thead,
    .container .statistics .table tbody,
    .container .statistics .table th,
    .container .statistics .table td,
    .container .statistics .table tr {
      display: block;
    }
  }
  .container .statistics .table > thead {
    background-color: #65737e;
    border-radius: .3rem;
  }
  @media screen and (max-width: 576px) {
    .container .statistics .table > thead {
      display: none;
    }
  }
  .container .statistics .table > thead > tr > th {
    text-align: left;
    color: #FFFFFF;
    font-size: 22px;
  }
  .container .statistics .table > thead > tr > th:not(:first-child) {
    text-align: right;
  }
  @media screen and (max-width: 576px) {
    .container .statistics .table td:nth-of-type(1)::before {
      content: "Country";
    }
    .container .statistics .table td:nth-of-type(2)::before {
      content: "Cases";
    }
    .container .statistics .table td:nth-of-type(3)::before {
      content: "Deaths";
    }
    .container .statistics .table td:nth-of-type(4)::before {
      content: "Recovered";
    }
  }
  .container .statistics .table th,
  .container .statistics .table td {
    border: 1px solid #a7adba;
    padding: 9px 15px;
    white-space: nowrap;
  }
  .container .statistics .table > tbody > tr > td {
    font-size: 18px;
  }
  .container .statistics .table > tbody > tr > td img {
    width: 24px;
    vertical-align: baseline;
    margin-right: 10px;
  }
  @media screen and (max-width: 576px) {
    .container .statistics .table > tbody > tr > td {
      position: relative;
      text-align: right;
    }
    .container .statistics .table > tbody > tr > td:first-child {
      background-color: #4f5b66;
      padding-left: 100px;
      white-space: normal;
    }
    .container .statistics .table > tbody > tr > td::before {
      position: absolute;
      top: 0;
      left: 0;
      padding: 9px 15px;
      white-space: nowrap;
    }
  }
  .container .statistics .table > tbody > tr > td:not(:first-child) {
    text-align: right;
  }
  .container .statistics .hidden {
    display: none !important;
  }
  .container .arrow {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .container .arrowUp {
    position: relative;
    cursor: pointer;
    background-color: rgba(155, 155, 155, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0 25px 3px 0;
  }
  .container .arrowUp::before {
    content: "";
    position: absolute;
    border-top: solid 4px #f0f0f0;
    border-right: solid 4px #f0f0f0;
    width: 14px;
    height: 14px;
    left: 10px;
    top: 14px;
    transform: rotate(-45deg);
  }
  .container .arrowUp:hover{
    background-color: #a7adba;
  }
  .container .arrowDown:hover{
    background-color:#a7adba;
  }
  .container .arrowDown {
    position: relative;
    cursor: pointer;
    background-color: rgba(155, 155, 155, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0 25px 25px 0;
  }
  .container .arrowDown::before {
    content: "";
    position: absolute;
    border-top: solid 4px #f0f0f0;
    border-right: solid 4px #f0f0f0;
    width: 14px;
    height: 14px;
    left: 10px;
    bottom: 10px;
    transform: rotate(135deg);
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes hide {
    0% {
      opacity: 1;
      visibility: visible;
    }
    99% {
      opacity: 0;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
